<div class="lottie-animation">
  <ng-lottie
    [options]="options"
    (animationCreated)="onAnimate($event)">
  </ng-lottie>
</div>

<div
  class="container-sm"
  style="text-align: center">
  <div class="splash-text">
    <h1>
      {{ titleText }}
    </h1>
    {{ stepParagraph }}
  </div>
  <div *ngIf="buttonAppears"
    class="button-div mt-3 mb-10">
    <button
      class="btn btn-md accent light"
      style="margin: 1rem;"
      (click)="onSecondaryClick($event)">
        {{ secondaryButtonText }}
    </button>

    <button
      class="btn btn-md primary"
      style="margin: 1rem;"
      (click)="onPrimaryClick($event)">
        {{ primaryButtonText }}
    </button>
  </div>
</div>
